# Author: Mohammad Javad HoseinPour <mjavadhpour@gmail.com>

# Intellij files
.idea/

# ASP.NET Core build files
**/bin
**/obj

# db Files
**/*.db
**/wwwroot/img/shop/*
**/wwwroot/img/user/*
/.vs/ShopPromotion/v15
/.vs/config
